<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='style.css')}}">


  
    <title></title>
</head>

<body>
    <h2><center>Welcome</center> </h2>
<div class="wraber">

    <div class="main"> 
      {%for i in range (number)%}
     
      <div {% if color %} style="background-color: {{color}};" {% endif %} class="s"></div>
      {%endfor%} 
    </div>
</div>
    
</body>
</html>