<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static '/css/style.css' %}">   
    <style>
        .wrap
        {
            
            text-align: center;
            width: 70%;
            height: 300px;
            margin-left: 150px;
        }
      .P1
      {
        margin: 0% auto;
        border: 3px black solid;
        width: 20%;
        height: 20%;
        margin-top: 1%;

      }
      .Boxtime
      {
        margin: 0% auto;
        margin-top: 0%;
        border: 3px black solid;
         width: 77%;
         height: 53%;
         margin-top: 2%;
      }

    </style> 
</head>
<body>
    <div class="wrap">
        <div class="P1"> 
            <p>the current time and date </p>
         
        </div>
        <div class="Boxtime">
            <h1>{{Date}}</h1><br>
            <h1>{{Time}}</h1>

        </div>
    </div>
   

</body>
</html>